[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[user]
	name = Liam Egan
	email = liam@liamegan.com
[alias]
	st = status
	ci = commit --verbose
	cm = commit --message
	ad = add
	ap = add --patch
	df = diff
	ds = diff --staged
	lg = log --oneline --graph --decorate
	ll = log
	ps = push
	pf = push --force
	pu = push --set-upstream
	anoe = commit --amend --no-edit
[diff]
	algorithm = histogram
