xft*antialias: true

urxvt*font: xft:Input Mono:size=16
urxvt*scrollBar: false

*background: #1a1a19
*foreground: #e7e7e7
*cursorColor: #626262

*color0: #1a1a19
*color8: #1a1a19
*color1: #e48981
*color9: #e48981
*color2: #94d1b3
*color10: #94d1b3
*color3: #ffdbbd
*color11: #ffdbbd
*color4: #94b3d1
*color12: #94b3d1
*color5: #d7afd7
*color13: #d7afd7
*color6: #87d7af
*color14: #87d7af
*color7: #626262
*color15: #d7d7d7
