xft*antialias: true
xft*hinting: true

urxvt*font: xft:Roboto Mono:size=14
urxvt*scrollBar: false

*background:  #141414
*foreground:  #d7d7d7
*cursorColor: #626262

*color0: #141414
*color1: #e48981
*color2: #94d1b3
*color3: #ffdbbd
*color4: #94b3d1
*color5: #d7afd7
*color6: #70c2c2
*color7: #626262

*color8:  #2a2a2a
*color9:  #e48981
*color10: #94d1b3
*color11: #ffdbbd
*color12: #94b3d1
*color13: #d7afd7
*color14: #70c2c2
*color15: #d7d7d7
